* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  background: linear-gradient(90deg, rgba(44, 22, 33), rgb(221, 221, 221));
}
/*Aca empieza todo el header*/
#navTodos {
  background: linear-gradient(90deg, rgba(44, 22, 33), rgba(22, 33, 44));
  height: 150px;
}
/*Aca termina la barra de navegacion*/
/*Index*/
#estrenos img {
  width: 100%;
  height: 100%;
}
.carousel {
  width: 500px;
  height: 741px;
}
/*Index*/
/*Empieza "peliculas"*/
#galeria img {
  width: 100%;
  height: 500px;
  margin: 5px 0 5px 0;
}
#titulos-peli {
  font-size: 30px;
}
/*Termina "peliculas"*/
/*Empieza "Contactanos"*/
.texto-cont {
  color: white;
  position: absolute;
  margin: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.contactanos {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
#imagen-contacto {
  width: 100%;
}
.texto-medio-abajo {
  margin-left: 30px;
}
.texto-medio-arriba {
  margin-left: 230px;
}
/*Termina contactos*/
/*empieza "series*/

/*Termina series*/
/*empieza "faq*/
.container-faq {
  background: linear-gradient(90deg, rgb(44, 22, 23), rgb(221, 221, 221));
  display: flex;
  flex-direction: column;
}
#titulo-faq {
  justify-self: center;
  align-self: center;
  font-size: 30px;
}
.faq-q {
  background: linear-gradient(90deg, rgb(44, 22, 23), rgb(221, 221, 221));
  color: rgb(255, 255, 255);
}
.faq-a {
  color: wheat;
}
/*Footer*/
.footer-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(44, 44, 44);
  flex-wrap: wrap;
  min-height: 100px;
}
.redes-container {
  display: flex;
  margin: 0 800px;
}
.redes {
  margin: 0 15px;
  padding: 8px 15px;
}
#p-img {
  color: rgb(138, 137, 137);
}
/*Footer*/
