* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  background: linear-gradient(90deg, rgba(44, 22, 33), rgb(221, 221, 221));
  font-size: 16px;
}
/*Aca empieza todo el header*/
#navTodos {
  background: linear-gradient(90deg, rgba(44, 22, 33), rgba(22, 33, 44));
  height: 9.375em;
}
/*Aca termina la barra de navegacion*/
/*Index*/
#mih1 {
  color: black;
  font-size: 4em;
  font-family: sans-serif;
}
/*Index*/
/*Empieza "peliculas"*/
#galeria img {
  width: 100%;
  height: 31.25em;
  margin: 0.3125em 0 0.3125em 0;
}
#titulos-peli {
  font-size: 1.875em;
}
/*Termina "peliculas"*/
/*Empieza "Contactanos"*/
.texto-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  color: white;
  position: absolute;
  align-items: center;
}
.contactanos {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
#imagen-contacto {
  width: 100%;
  height: 20em;
}
.texto-medio-abajo {
  align-items: center;
}
.texto-medio-arriba {
  align-items: center;
}
/*Termina contactos*/
/*empieza "series*/

/*Termina series*/
/*empieza "faq*/
.container-faq {
  background: linear-gradient(90deg, rgb(44, 22, 23), rgb(221, 221, 221));
  display: flex;
  flex-direction: column;
}
#titulo-faq {
  justify-self: center;
  align-self: center;
  font-size: 1.875em;
}
.faq-q {
  background: linear-gradient(90deg, rgb(44, 22, 23), rgb(221, 221, 221));
  color: rgb(255, 255, 255);
}
.faq-a {
  color: wheat;
}
/*Footer*/
.footer-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3em;
  background-color: rgb(44, 44, 44);
}
.redes-container {
  direction: rtl;
  display: flex;
  justify-content: flex-start;
}
.redes {
  margin: auto;
}
.redes-img {
  width: 2.75em;
  height: 2.75em;
}
#p-img {
  color: rgb(138, 137, 137);
}
/*Footer*/
